footer {
    overflow: hidden;
    padding-right: 0.5%;
    margin: 0.5% 0;
    bottom:0;
    left: 0;
    width:100%;
    height: 8vh;
    background: #fff;
}

footer input {
    height: 100%;
    line-height: 100%; 
    float:left;
    border:none;
}

footer button {
    color: white;
    opacity: 0.8;
    width: 10%;
    height: 100%;
    float: left; 
    margin-left: 2%;
}

footer .form-control {
    float: left;
    width: 60%;
    height: 100%;
    font-size: 24px;
    margin-left: 2%;
}

#emoji {
    background: blue;
}

#sendImage {
    background: blue;
}

#sendTxt {
    background: green;
}

#canNotSee {
    display: none;
}